@charset "utf-8";
nav  {
	background-color: #7E3012;
	text-align: center;
	font-size: large;
	font-weight: 400;
	font-family: bree-serif;
	font-style: normal;
	margin-right: -9px;
	margin-left: -8px;
	word-spacing: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #F9F0F1;
	opacity: 0.9;
}
.asideleft {
	margin-right: 11px;
	margin-bottom: 15px;
	margin-left: 5px;
	min-width: 400px;
	padding-top: 144px;
	padding-right: 15px;
	padding-left: 149px;
	margin-top: -81px;
	
}
.logo {
	margin-left: 38%;
}
.asideleftname1 {
	background-color: #7E3012;
	margin-right: 75em;
	color: #F7F7F7;
	margin-top: 64px;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	font-family: bree-serif;
	font-style: normal;
	font-weight: 400;
}
.asideleftname3 {
	background-color: #FFE9E9;
	margin-right: 92em;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 1%;
	margin-top: -20.8px;
	font-size: smaller;
}

.asideleftname2 {
	background-color: #FFE9E9;
	-webkit-box-shadow: 0px 0px 5px 0px #000000;
	box-shadow: 0px 0px 5px 0px #000000;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -15px;
	margin-right: 80em;
	padding-left: 4px;
	font-size: smaller;
}
.asideright {
	background-color: #FFF8F8;
	margin-right: 176px;
	text-align: center;
	float: right;
	margin-left: 1084px;
	margin-top: -198px;
	padding-bottom: 2px;
	opacity: 0.9;
}
.background {
	background-image: url(img/background.jpg);
	position: static;
	visibility: visible;
	background-repeat: no-repeat;
}
.bottom {
	margin-top: 193px;
	text-align: center;
	font-size: smaller;
	margin-left: 173px;
	margin-right: 1134px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 0px;
	padding-left: 5px;
	margin-bottom: 3px;
	background-color: #932F13;
	color: #FFFFFF;
	font-style: normal;
}
.bottom2 {
	margin-top: -138px;
	text-align: center;
	font-size: smaller;
	margin-left: 459px;
	margin-right: 847px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 7px;
	padding-left: 5px;
	margin-bottom: -10px;
	background-color: #932F13;
	color: #FFFFFF;
	font-style: normal;
}
.bottomp {
	font-family: bree-serif;
	font-style: normal;
	color: #1A1111;
	text-align: center;
	font-weight: bold;
	text-decoration: overline;
}
.bottom2p {
	color: #050505;
	font-weight: bold;
	text-align: center;
	text-decoration: overline;
	font-family: bree-serif;
	font-style: normal;
}.welcome {
	margin-left: 781px;
	margin-top: -119px;
}
.a {
	color: #FFFFFF;
	text-decoration: none;
}
.navHome {
	-webkit-transition: all 0s linear 0s;
	-o-transition: all 0s linear 0s;
	transition: all 0s linear 0s;
	background-color: #FFFBFB;
	color: #6F2D00;
	padding-left: 5px;
	margin-left: 45px;
	padding-bottom: inherit;
	padding-top: inherit;
	padding-right: 5px;
}
.navHome:hover:not{
	color: #FF7E00;
}
.navTest {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
}
.navGallery {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
}
.navContact {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
}
.navLogin {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	margin-left: 54px;
}
.navTest:hover {
	color: #FF7E00;
}
.navGallery:hover {
	color: #FF7E00;
}
.navContact:hover {
	color: #FF7E00;
}
.navLogin:hover {
	color: #FF7E00;
}
.navHome:active {
	background-color: #FFFFFF;
}
.pp {
	margin-left: 50px;
}
