@charset "utf-8";
@import url("edit1.css");
.ul {
	list-style-type: none;
	background-color: #7E3012;
	color: #FFFFFF;
	font-size: medium;
	font-style: normal;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-right: 1333px;
	text-align: left;
	padding-left: 10px;
	margin-left: -17px;
}
.dashboard {
	padding-top: 13px;
	padding-bottom: 13px;
	border-color: #FDFDFD;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	margin-top: -20px;
}
.add {
	padding-top: 13px;
	padding-bottom: 13px;
	border-color: #FDFDFD;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}
.view {
	padding-top: 13px;
	padding-bottom: 13px;
	border-color: #FDFDFD;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}
.update {
	padding-top: 13px;
	padding-bottom: 13px;
	border-color: #FDFDFD;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}
.delete {
	padding-top: 13px;
	padding-bottom: 13px;
	border-color: #FDFDFD;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
}
.border-bottom {
	padding-bottom: 523px;
}
.h3 {
	padding-top: 0px;
	margin-top: -756px;
	padding-bottom: 0px;
	margin-right: 910px;
	margin-left: 292px;

}


.h2 {
	background-color: #7E3012;
	color: #FFFFFF;
	margin-top: -11px;
	margin-left: -8px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	margin-right: -13px;
}
.button_logout {
	text-decoration: none;
	position: absolute;
	color: #2A1E1E;
	padding-right: 0px;
	margin-left: 1477px;
	margin-top: -119px;
}

.credential {
	padding-right: 67px;
	position: absolute;
	margin-left: 1313px;
	margin-top: -117px;
	color: #FFFFFF;
}
.box {
	margin-left: 280px;
}
.delete1 {
	margin-left: 261px;
}
